.pre-order-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    margin-top: 100px;
  }
  
  .pre-order-title {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .pre-order-slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 250px; /* Increased height */
  }
  
  .pre-order-slides {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .pre-order-slide {
    flex: 0 0 auto;
    width: 150px; /* Reduced width */
    margin: 0 20px; /* Increased margin between elements */
    opacity: 0.8;
    transform: translateX(-100%); /* Start position for animation */
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  
  .pre-order-slide:first-child {
    margin-left: 30px; /* Add extra margin to the first slide */
  }
  
  .pre-order-slide:last-child {
    margin-right: 30px; /* Add extra margin to the last slide */
  }
  
  .pre-order-slide:hover {
    transform: scale(1.1);
    opacity: 1;
  }
  
  .pre-order-placeholder-image {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
    border-radius: 15px; /* Rounded corners */
  }
  
  .pre-order-item-label {
    margin-top: 10px;
    transition: transform 0.5s ease;
  }
  
  .pre-order-slide:hover .pre-order-placeholder-image,
  .pre-order-slide:hover .pre-order-item-label {
    transform: scale(1.1);
  }
  
  .pre-order-nav-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pre-order-nav-button {
    background-color: transparent;
    border: none;
    font-size: 2em;
    cursor: pointer;
    margin: 0 10px;
    color: #000;
  }
  
  @keyframes slide-in {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-in {
    animation: slide-in 0.5s forwards;
  }
  