.footer {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  
  html, body, #root {
    height: 100%;
    margin: 0;
  }
  
  #root {
    display: flex;
    flex-direction: column;
  }
  
  .main-content {
    flex: 1;
  }
  